@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
}
a {
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.nav-link {
    @apply flex md:inline-block items-center justify-between grow  relative  md:text-white md:hover:text-white/70 md:before:hover:bg-white/70 text-[13px] md:text-sm pl-[24px] pr-[16px] md:px-0  md:mx-[18px] py-[14px] font-medium transition before:w-[86%] before:h-[5px]  before:rounded-full before:absolute before:left-[7%] before:bottom-[-2px] border-b md:border-none border-gray-200;
}
.sidebar-item {
    @apply text-[#202124] text-[13px] hover:bg-gray-100 block   py-1 pr-2   rounded-r-full;
}
.tooltip {
    @apply hidden absolute left-0  text-white  bg-black/50    p-[4px] rounded-sm whitespace-nowrap text-[9px];
}
.tooltip-bottom {
    @apply bottom-[-40px];
}
.tooltip-top {
    @apply bottom-[50px];
}
.code {
    @apply px-1 py-[1px] bg-gray-100 text-gray-800 text-sm font-semibold tracking-wide;
}
.table-link {
    @apply text-blue-600 tracking-wider font-medium;
}
.table-cols {
    @apply grid-cols-[minmax(85px,max-content)_minmax(125px,max-content)_1fr];
}
.active-scroll-spy {
    @apply text-blue-600 font-medium;
}
.sidebar-menu {
    @apply absolute w-full h-full  top-0 pt-[52px] md:pt-[90px]  pb-[100px] md:pb-11  pr-2 overflow-y-auto  scrollbar-thin  scrollbar-thumb-[#dee0e1] scrollbar-track-gray-100 scrollbar-w-[10px];
}
